<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
<p-scrollPanel [style]="{width: '100%', height: '730px'}" styleClass="custombar1">
    <div class = "principal-container" *ngFor = "let nutri of nutris"> 
        <p-card header="{{nutri.nombre}}" subheader= "{{nutri.usuario}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="./../../../assets/imagenes/fondo.jpeg">
            </ng-template>
            <img class="perfil"  src="./../../../assets/imagenes/perfil.png">
            <ng-template pTemplate="footer">
                <label> Colegiado: {{nutri.colegiado}} </label> <br><br>
                <label> Telefono: {{nutri.telefono}} </label> <br><br>
                <label> Descripcion: {{nutri.descripcion}} </label> <br><br>
            </ng-template>
        </p-card>
    </div>
</p-scrollPanel>
