<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">

<div class = "principal-container">
    <div class = "segundo-contenedor">
        <div class = "form">
            <div class="p-grid p-fluid"> 
                <h1> Datos </h1>
                <div class = "p-col-12 p-md-4">
                    <div class = "p-inputgroup"> 
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Nombre">
                    </div>
                </div>
                <br>
                <div class = "p-col-12 p-md-4">
                    <div class = "p-inputgroup"> 
                        <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                        <input type="number" class ="inumber" pInputText placeholder="Numero colegiado">
                    </div>
                </div>
                <br>
                <div class="p-col-12  p-md-4">
                    <div class = "div-phone">
                        <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                        <p-inputMask mask="(502) 9999-9999" placeholder="(502) 9999-9999"></p-inputMask>
                    </div>
                </div>
                <br>
                <div class="p-col-12  p-md-4"> 
                    <span class="p-float-label">
                        <textarea id="float-input-text" rows="5" cols="30" pInputTextarea></textarea>
                        <label for="float-input-text"> Descripción </label>
                    </span>
                </div>
                <br>
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class = "pi pi-lock"></i> </span>
                        <input type="password" pInputText placeholder="Contraseña">
                    </div>
                </div>
                <br>
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class = "pi pi-lock"></i> </span>
                        <input type="password" pInputText placeholder="Confirmar contraseña">
                    </div>
                </div>
                <br>
                <div class = "p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <p-button class = " boton" label="Registrar"></p-button>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>