<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
<p-scrollPanel [style]="{width: '100%', height: '600px'}" styleClass="custombar1">
    <div class = "principal-container" *ngFor = "let cliente of clientes">  
        <div class = "segundo-contenedor">
            <div class = "form">
                <br>
                <div class = "titulo">
                    <img src = "./../../../assets/imagenes/perfil2.png"> 
                    <label class = "nombre"> {{cliente.nombre}}</label> 
                </div> <br>
                <b class = "datos"> Usuario: {{cliente.usuario}}</b> <br>
                <b class = "datos"> Sexo: {{cliente.sexo}} </b> <br>
                <b class = "datos"> Telefono: {{cliente.telefono}}</b> <br><br>
            </div>
        </div>
    </div>
</p-scrollPanel>