<p-messages></p-messages>

<div class="flex justify-content-center align-items-center mt-5 w-full">

    <div class=" flex justify-content-center align-items-center w-full border-round" style="box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px">

        <div class="flex-row w-full">

            <div class="flex justify-content-center align-items-center">

                <label class="text-center text-3xl" style="color: white;"> Update data </label>

            </div>

            <form [formGroup]="form" (ngSubmit)="actualizar()" class="w-full">

                <div class="mt-2 w-full flex align-items-center justify-content-center ">

                    <div class="flex align-items-center justify-content-center w-7">

                        <span class="p-inputgroup-addon"><i> Age </i> </span>

                        <input type="number" placeholder="Years" pInputText formControlName="edad" class="w-full">

                    </div>

                </div>

                <div class="mt-2 w-full flex align-items-center justify-content-center ">

                    <div class="flex align-items-center justify-content-center w-7">

                        <div class="p-inputgroup">

                            <span class="p-inputgroup-addon"><i>Weight </i> </span>
                            
                            <input type="number" formControlName="peso" step="0.1" pInputText placeholder="Kilograms">
                        </div>

                    </div>

                    
                </div>

                <div class="mt-2 w-full flex align-items-center justify-content-center ">
                    
                    <div class="flex align-items-center justify-content-center w-7">

                        <div class="p-inputgroup">

                            <span class="p-inputgroup-addon"><i>Height </i> </span>
    
                            <input type="number" formControlName="altura" step="0.1" pInputText placeholder="Centimeters" class="w-full">
    
                        </div>

                    </div>

                    

                </div>

                <div class="mt-2 w-full flex-row">

                    <div class="mt-2 w-full flex align-items-center justify-content-center">

                        <div class="p-field-radiobutton ml-1 mr-1">
    
                            <p-radioButton formControlName="factor" value="1.2" inputId="sed"></p-radioButton>
    
                            <label style="color:white" for="sed"> Sedentary </label>
    
                        </div>
    
                        <div class="mt-2 p-field-radiobutton ml-1 mr-1">
    
                            <p-radioButton formControlName="factor" value="1.375" inputId="poca"></p-radioButton>
    
                            <label style="color:white" for="poca"> Few </label>
    
                        </div>
    
                        <div class="mt-2 p-field-radiobutton ml-1 mr-1">
    
                            <p-radioButton formControlName="factor" value="1.55" inputId="mod"></p-radioButton>
    
                            <label style="color:white" for="mod"> Moderate </label>
                        </div>
    
                        <div class="mt-2 p-field-radiobutton ml-1 mr-1">
    
                            <p-radioButton formControlName="factor" value="1.752" inputId="in"></p-radioButton>
    
                            <label style="color:white" for="int"> Intense </label>
    
                        </div>
    
                        <div class="mt-2 p-field-radiobutton ml-1 mr-1">
    
                            <p-radioButton formControlName="factor" value="1.9" inputId="at"></p-radioButton>
    
                            <label style="color:white" for="at"> Athlete </label>
    
                        </div>
    
                    </div>
    
                    <div class="mt-2 w-full flex align-items-center justify-content-center">
    
                        <div class="">
    
                            <p-button type="input" label="Register" [disabled]="!form.valid" styleClass="mt-4 mb-4 w-full"></p-button>
    
                        </div>
    
                    </div>

                </div>

                

            </form>


        </div>




    </div>