<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">

<div class = "container">
    <div class = "box1 flex min-h-screen justify-content-center align-items-center p-3 mt-3">
        <div> 
            <h1 class = "titles"> WC Nutrition</h1>
        </div>
    </div>
    <div class = "box2 flex min-h-screen justify-content-center align-items-center p-3 mt-3">
        <div class= "flex justify-content-center align-content-center w-full ">
            <form [formGroup]="form_inicio_sesion" (ngSubmit)="intentarIngresar()">
                <span>
                    <p class = "instructions"> Inicia sesión si eres un administrador, nutricionista o cliente. </p>
                </span>
                <span>
                    <input pInputText class = "w-full mb-3" id="username" type="text" placeholder="Correo electronico" formControlName="usuario"/>
                </span>
                <span>
                    <input pInputText class = "w-full mb-3" id="password" type="text" placeholder="Contraseña" formControlName="pw"/>
                </span>
                <p-button type = "input" [disabled]="!form_inicio_sesion.valid" label="Login"  ></p-button>
            </form>
        </div>
    </div>
</div>

<router-outlet> </router-outlet>