<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
<div class = "main-container"> 
    <div class = 'p-d-flex'> 
        <div class = "div-texto-bienvenida">
            <div>
                <h1 class = "titles"> WC NUTRITION</h1>
                <img src = "./../../assets/imagenes/WC NUTRITION.png"> 
            </div>
        </div>
        <p-divider layout= "vertical">
        </p-divider>
        <div class="p-field">
            <div class= "form-div">
                <form [formGroup]="form_inicio_sesion" (ngSubmit)="intentarIngresar()"> 
                    <span class = "p-float-label">
                        <input pInputText id="username" type="text"  formControlName="usuario"/>
                        <label class = "label-inputs" for = "username"> Username</label>
                    </span>
                    <br>
                    <br>
                    <span class = "p-float-label">
                        <input pInputText id="password" type="password"  formControlName="pw"/>
                        <label class = "label-inputs" for ="password"> Password</label>
                    </span>
                    <br>
                    <p-button type = "input" class = "login" [disabled]="!form_inicio_sesion.valid" label="Login"  ></p-button>
                </form>
            </div>
        </div>
    </div>
</div>
<router-outlet> </router-outlet>