<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
<div class = "principal-container" >  
    <div class = "segundo-contenedor">
        <div class = "form">
            <br>
            <div class = "titulo">
                <img src = "./../../../assets/imagenes/perfil.png"> 
                <label class = "nombre"> Nut. </label> 
            </div> <br>
            <label class = "datos"> Usuario: </label> <br>
            <label class = "datos"> Telefono: </label> <br>
            <label class = "datos"> Colegiado:  </label> <br>
            <label class = "datos"> Descripción:  </label>
            <br>
            <br>
        </div>
    </div>
</div>