<p-messages></p-messages>

<div class="flex align-items-center justify-content-center w-full mt-4">

    <div class="flex-column align-items-center justify-content-center border-round w-full shadow-8">

        <div class="w-full flex justify-content-center align-items-center mt-4 mb-4">

            <label class="text-center" style="color: white; font-size: 10vh;"> Update </label>

        </div>

        <div class="flex justify-content-center align-items-center w-full">

            <div class = "flex justify-content-center align-items-center w-full">

                <form [formGroup]="form" (ngSubmit)="actualizar()" class="w-full">

                    <div class="flex justify-content-center align-items-center w-full"> 

                        <div> 

                            <span class="p-inputgroup-addon"><i> {{dia}} </i></span>
    
                        </div>
                    
                        <p-dropdown [options]="lista_dia" formControlName="id" placeholder="Select a meal" optionLabel="id"
                            optionValue="id" [showClear]="true" styleClass="w-full">
    
                            <ng-template let-menu pTemplate="item">
    
                                <div> {{menu.id}} . {{menu.desayuno}} - {{menu.almuerzo}} - {{menu.cena}} </div>
    
                            </ng-template>
    
                        </p-dropdown>

                    </div>

                    

                    <div>

                        <p-button class="boton" styleClass="mt-5" type="input" label="actualizar" [disabled]="!form.valid"></p-button>

                        <p-button class="boton" styleClass="mt-3 mb-5" type="input" (click)="regresar()"> Regresar </p-button>

                    </div>

                </form>

            </div>



            

        </div>

    </div>

</div>